<ion-view view-title="MAMI" cache-view="false">
	<ion-nav-title align-title="left">
        <img class="title-image" src="img/head_logo.png" />
    </ion-nav-title>
	
    <div class="bar bar-subheader" style="height:50px;" ng-if="ShowSearch == 1" align="center">
  		<table ng-class="lanDirction == 'rtl' ? 'SearchTable' : 'SearchTableLtr'" align="center">
        	<tr>
            	<td class="TDsearch">
                	{{'list_searchby' | translate}}
                </td>
                <td ng-class="TypeSelected == 1 ? 'TDtypeActive' : 'TDtype'" ng-click="changeType(1)" ng-if="lat != 0 && lng != 0">
                	 {{'list_location' | translate}}
                </td>
                <td ng-class="TypeSelected == 2 ? 'TDtypeActive' : 'TDtype'" ng-click="changeType(2)">
                	{{'list_derug' | translate}}
                </td>
                <td ng-if="showPrice" ng-class="TypeSelected == 3 ? 'TDtypeActive' : 'TDtype'" ng-click="changeType(3)">
                	{{'list_price' | translate}}
                </td>				
				<!--
                <td ng-class="TypeSelected == 3 ? 'TDtypeActive' : 'TDtype'" ng-click="changeType(3)">
                	מחיר
                </td>
				-->
            </tr>
        </table>
	</div>
	
    <ion-content class="has-subheader" style="background-color:#fff9f1">
		<div>
        	<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        </div>
		<!-- NG - Repeat -->
		<!-- | orderBy:arrangeBy -->
		
        <div class="ListRow" ng-repeat="item in Sapakim | orderBy:arrangeBy" ui-sref="app.details({CatIndex:ItemId,IndexArray:$index,ItemIndex:item.number})">

			<div ng-class="lanDirction == 'rtl' ? 'ListRight' : 'ListRightLtr'" >
                <img  ng-src="{{host}}/{{item.suppliers[0].image}}" style="width:100%; margin-top:-3px;" ng-if="Type == '0'" />
				<img  ng-src="{{host}}/{{item.image}}" style="width:100%; margin-top:-3px;" ng-if="Type == '1'" />
            </div>
           <div ng-class="lanDirction == 'rtl' ? 'ListCenter' : 'ListCenterLtr'"   ng-if="Type == '0'">
            	<h3>{{item.suppliers[0].name}}</h3>
				<h4 style="font-size:12px !important;"><b></b> {{item.suppliers[0].address}}</h4>
                <h4 style="font-size:12px !important;" ng-if="currentLanguage == 'he'">{{SelectedSubCategory.name}}</h4>
                <h4 style="font-size:12px !important;" ng-if="currentLanguage == 'en'">{{SelectedSubCategory.name_english}}</h4>
                <h4 style="font-size:12px !important;" ng-if="currentLanguage == 'ar'">{{SelectedSubCategory.name_arabic}}</h4>
                <h4 style="font-size:12px !important;" ng-if="currentLanguage == 'ru'">{{SelectedSubCategory.name_russian}}</h4>

                <h4><b>{{'list_day' | translate}}:</b>  {{item.start_date}} &nbsp; <b>{{'list_hour' | translate}} :</b> {{item.start_time}}</h4>
				<h4 ><b>{{'list_price' | translate}} :</b> <span style="direction:rtl;">{{item.price}}&#8362;</span></h4>
                <h4 ng-if="lat != 0 && lng != 0"><b>מרחק :</b> <span style="direction:rtl;">{{item.distance | number : 2}} ק״מ</span></h4>
				<!--
				<h4>קטגוריות: <span ng-repeat="catagory in item.catagory"><span ng-if="$index !=0">,</span> {{catagory.name}}  </span></h4>
				-->
				<!--
                <h4 ng-if="item.subcategories[0].price">מחיר : {{item.subcategories[0].price}} ש"ח</h4>
				-->
                 <div ng-if="item.rating && item.rating > 0">
				<div ng-class="lanDirction == 'rtl' ? 'Raiting' : 'RaitingLtr'"   style="float:left;" >
				<div style="margin-top:10px;">{{'list_derug' | translate}} : {{item.rating}} </div>
				</div>
                	<table ng-class="lanDirction == 'rtl' ? 'RaitingIcon' : 'RaitingIconLtr'"   >	
                    	<tr style="">
                        	<td  ng-repeat="n in [] | range:item.round_rating">
                            	<img  src="img/s1.png" style="width:30px; margin-top:-3px; margin-right:3px;" />
                            </td>
							<!--<td ng-if="getFloat(item.rating)">-->
							<!--<img  src="img/s3.png" style="width:30px; margin-top:-3px; margin-right:3px;" />-->
							<!--</td>-->
                        </tr>
                    </table>
                </div>
            </div>

            <div ng-class="lanDirction == 'rtl' ? 'ListCenter' : 'ListCenterLtr'"   ng-if="Type == '1'">
            	<h3>{{item.name}}</h3>
                <h4 style="font-size:16px !important; margin-top:-10px;">{{item.address}}</h4>
				
                <h4 style="font-size:16px !important; margin-top:-8px;" ng-if="currentLanguage == 'he'">{{SelectedSubCategory.name}}</h4>
                <h4 style="font-size:16px !important; margin-top:-8px;" ng-if="currentLanguage == 'en'">{{SelectedSubCategory.name_english}}</h4>
                <h4 style="font-size:16px !important; margin-top:-8px;" ng-if="currentLanguage == 'ar'">{{SelectedSubCategory.name_arabic}}</h4>
                <h4 style="font-size:16px !important; margin-top:-8px;" ng-if="currentLanguage == 'ru'">{{SelectedSubCategory.name_russian}}</h4>

                <h4 style="font-size:16px !important; margin-top:-8px;">{{'list_phone' | translate}} : {{item.phone}}</h4>
                <h4 ng-if="lat != 0 && lng != 0"><b>מרחק :</b> <span style="direction:rtl;">{{item.distance | number : 2}} ק״מ</span></h4>

                <!--
                <span ng-repeat="catagory in item.catagory" ng-if="currentLanguage == 'he'"><span ng-if="$index !=0">,</span> {{catagory.name}}  </span>
                <span ng-repeat="catagory in item.catagory" ng-if="currentLanguage == 'en'"><span ng-if="$index !=0">,</span> {{catagory.name_english}}  </span>
                <span ng-repeat="catagory in item.catagory" ng-if="currentLanguage == 'ar'"><span ng-if="$index !=0">,</span> {{catagory.name_arabic}}  </span>
                <span ng-repeat="catagory in item.catagory" ng-if="currentLanguage == 'ru'"><span ng-if="$index !=0">,</span> {{catagory.name_russian}}  </span>
                -->

				
				<!--
                <h4>אזור : {{getAreaName(item.area)}}</h4>
				<h4 ng-if="item.subcategories[0].showprice == '0'">מחיר : {{item.subcategories[0].price}} ש"ח</h4>
				
                <div ng-if="item.rating">
				<div style="float:right; margin-top:5px;">
                	{{'list_derug' | translate}} : {{item.rating}} 
				</div>-->
                	<table style="float:right; margin-right:14px; margin-top:10px;">
                    	<tr style="">
                        	<td  ng-repeat="n in [] | range:item.round_rating">
                            	<img  src="img/s1.png" style="width:30px; margin-top:-3px; margin-left:3px;" />
                            </td>
							<!--<td ng-if="getFloat(item.rating)">-->
							<!--<img  src="img/s3.png" style="width:100%; margin-top:-3px;" />-->
							<!--</td>-->
                        </tr>
                    </table>
                </div>
            </div>

			
             <div ng-class="lanDirction == 'rtl' ? 'ListLeft' : 'ListLeftLtr'"   ng-if="lanDirction == 'rtl'">
            	<img  src="img/arrow.png" style="width:100%; " />
            </div>
             <div ng-class="lanDirction == 'rtl' ? 'ListLeft' : 'ListLeftLtr'"  ng-if="lanDirction == 'ltr'">
            	<img  src="img/arrowr.png" style="width:100%; " />
            </div>
            <div>
        		<img  src="img/line.png" style="width:100%; margin-top:-3px;" />
        	</div>
    	</div>       

    </ion-content>
</ion-view>
